<%= turbo_frame_tag dom_id(game) do %>
<% was_validated = game.errors.any? %>

<% form_html_options = { novalidate: true, class: "mb-3" } %>

<div class="list-group-item" id="list_item_form">
  <%= form_for(game, html: form_html_options) do |f| %>
    <div class="form-group">
      <% list_class = "form-control" %>
      <%= f.hidden_field :list_id, class: list_class, value: game.list.id %>
    </div>

    <div class="form-group">
      <% name_class = "form-control" %>
      <% name_was_invalid = game.errors.include?(:name) %>

      <% if was_validated %>
        <% if name_was_invalid %>
          <% name_class << " is-invalid" %>
        <% else %>
          <% name_class << " is-valid" %>
        <% end %>
      <% end %>

      <%= f.label :name %>

      <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
      <% if name_was_invalid %>
        <% game.errors.full_messages_for(:name).each do |message| %>
          <div class="invalid-feedback d-flex">
            <%= message %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="form-group">
      <% url_class = "form-control" %>
      <% url_was_invalid = game.errors.include?(:url) %>

      <% if was_validated %>
        <% if url_was_invalid %>
          <% url_class << " is-invalid" %>
        <% else %>
          <% url_class << " is-valid" %>
        <% end %>
      <% end %>

      <%= f.label :video_trailer %>

      <%= f.text_field :video_trailer, class: url_class, placeholder: "Enter url" %>
      <% if url_was_invalid %>
        <% game.errors.full_messages_for(:video_trailer).each do |message| %>
          <div class="invalid-feedback d-flex">
            <%= message %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="form-group">
      <% image_class = "form-control" %>
      <% image_was_invalid = game.errors.include?(:image) %>

      <% if was_validated %>
        <% if image_was_invalid %>
          <% image_class << " is-invalid" %>
        <% else %>
          <% image_class << " is-valid" %>
        <% end %>
      <% end %>

      <%= f.label :image %>

      <%= f.text_field :image, class: image_class, placeholder: "Enter image" %>
      <% if image_was_invalid %>
        <% game.errors.full_messages_for(:image).each do |message| %>
          <div class="invalid-feedback d-flex">
            <%= message %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="form-group">
      <% description_class = "form-control" %>
      <% description_was_invalid = game.errors.include?(:description) %>

      <% if was_validated %>
        <% if description_was_invalid %>
          <% description_class << " is-invalid" %>
        <% else %>
          <% description_class << " is-valid" %>
        <% end %>
      <% end %>

      <%= f.label :description %>

      <%= f.text_area :description, class: description_class, placeholder: "Enter description" %>
      <% if description_was_invalid %>
        <% game.errors.full_messages_for(:description).each do |message| %>
          <div class="invalid-feedback d-flex">
            <%= message %>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= f.button class: "btn btn-outline-secondary btn-block" %>
    <%= link_to "Cancel", game.list, class: "link-danger" %>

  <% end %>
</div>
<% end %>
