<!DOCTYPE html>
<html>
  <head>
    <title>Games List</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Rendering a partial that has all the <link>s and <script>s for assets we are pulling from content-delivery networks. -->
    <%= render "shared/cdn_assets" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style>
      body { padding-bottom: 70px }
    </style>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <div class="container">
      <%= render "shared/flashes" %>

      <%= yield %>
    </div>

  </body>
</html>
